.navbar-brand small {
	display: block;
	font-size: 12px;
}

@media ( min-width : 650px) {
	.container {
		max-width: 600px;
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.85);
	color: white;
	display: inline-block;
}

.overlay_addmoney_contractpartner {
	z-index: 900;
}

.embedded {
	max-width: 650px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #333;
	background-color: #fff;
}

.embedded_contractpartner {
	z-index: 910;
}