.navbar-brand small {
	display: block;
	font-size: 12px;
}

@media ( min-width : 650px) {
	.container-small {
		max-width: 600px;
	}
}
@media ( min-width : 1000px) {
	.container-wide {
		max-width: 1100px;
	}
}

@media ( max-width : 1000px) {
	.hide-on-small {
		display: none;
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.85);
	color: white;
	display: inline-block;
}

.overlay_edit_contractpartner {
	z-index: 900;
}
.overlay_edit_postingaccount {
	z-index: 901;
}
.overlay_edit_capitalsource {
	z-index: 902;
}

.embedded {
	max-width: 650px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #333;
	background-color: #fff;
}

.embedded_contractpartner {
	z-index: 910;
}
.embedded_postingaccount {
	z-index: 911;
}
.embedded_capitalsource {
	z-index: 912;
}